.header {
  position: fixed;
  top: 0;
  width: 100%;
  height: 10vh;
  background: url("../images/header.png"), white;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  align-items: center;
}

.logoPanier {
  position: absolute;
  right: 0;
}

.logoPanier svg {
  margin-right: 15px;
  margin-top: 15px;
  width: 40px;
  height: 40px;
  fill: #649fa3;
}
