.header {
  position: absolute;
  top: 0;
  width: 100%;
  height: 10vh;
  background: url("../images/header.png"), white;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  align-items: center;
}

.logoPanier {
  position: absolute;
  right: 0;
}

.logoPanier img {
  width: 50px;
  height: 50px;
}
