.allergens {
  height: 80vh;
  position: fixed;
  top: 10vh;
  padding: 3vh 2vh;
  background: white;
  color: black;
  overflow-y: scroll;
}

.allergenCategories {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 1vh;
}

.allergenCategory {
  border: 2px solid #ea9e94;
  color: black;
  width: 44vw;
  height: 44vw;
  margin-bottom: 2vh;
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.allergenCategory img {
  width: 75px;
  height: 75px;
  border: 1px solid white;
  border-radius: 50%;
  margin-bottom: 2vh;
}
