.account {
  height: 80vh;
  margin: 10vh 0;
  padding: 3vh 2vh;
  background: white;
  color: black;
  overflow-y: scroll;
  text-align: center;
}

.account span {
  font-weight: 500;
}

.account form {
  margin-top: 25px;
}

.socialNetworksLogin {
  display: flex;
  flex-direction: column;
}

.account button {
  border-radius: 8px;
  border-width: 2px;
  border-color: rgb(176, 176, 176) !important;
  font-weight: 700;
  margin-bottom: 16px;
  width: 100%;
  height: 50px;
  padding: 14px 14px 18px;
  border: none;
}

.login input {
  width: calc(100% - 20px);
  height: 40px;
  border: 1px solid #d9dadc;
  padding-left: 10px;
  margin-bottom: 10px;
}

.rememberMe {
  text-align: left;
  margin: 10px 0;
}

.simpleLogin {
  color: #fff;
  background-color: red;
}

.facebookLogin {
  color: #fff;
  background-color: #3b5998;
}

.appleLogin {
  color: #fff;
  background-color: #000;
}

.googleLogin {
  color: #616467;
  box-shadow: inset 0 0 0 2px #616467;
  background-color: #fff;
}

.orDivider {
  border-top: 1px solid #d9dadc;
  display: block;
  line-height: 1px;
  margin: 15px 0 30px 0;
  position: relative;
  text-align: center;
}

.dividerTitle {
  background: #fff;
  font-size: 12px;
  letter-spacing: 1px;
  padding: 0 20px;
  color: black;
}
